body, html {
  margin: 0;
  padding: 0;
  height: auto;
  border-top: 0px;
}

.addrecipe {
  width: 200px !important;
  margin:0 35% !important;
}

.range-field {
  width: 50%!important;
  padding-top: 20px !important;
  padding-left: 45px !important;
}

.preparationTime,.servingNumber{
  background: rgb(206, 135, 3) !important;
}

@media only screen and (max-width: 600px) {
  .range-field {
    width: 100%!important;
    padding-top: 0px !important;
  }
  .body {
    zoom: 80%;
  }
}
